body {
  background: url("img/hacker.jpg");
}
.jumbotron {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 29px;
  margin: 0%;
  height: 100%;
  padding: auto;
}
.quiz:hover {
  text-decoration: underline;
  color: aqua;
  cursor: pointer;
}
.quiz {
  color: burlywood;
}
.start {
  transition-duration: 0.5s;
  border-radius: 4px;
  border: none;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  height: 32px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}
.start:hover {
  background-color: rgb(70, 68, 64);
  color: white;
}
.card-footer {
  text-align: center;
  width: 100%;
}
.list-group-flush {
  margin: 0;
  padding: 0;
  border: 0;
}
ol {
  border: 0;
  margin: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  font-family: monospace;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: white;
}
.container {
  margin-top: 10%;
}
body {
  background-image: linear-gradient(to bottom right, rgb(90, 88, 88),rgb(251, 247, 247));
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
}
#question-1,
#question-2,
#question-3,
#question-4,
#question-5,
#question-6,
#question-7,
#question-8,
#question-9,
#question-10,
#check,
#question-two,
#question-three,
#question-four,
#question-five,
#question-six,
#question-seven,
#question-eight,
#question-ten,
#submit,
#time {
  display: none;
}
.question-footer {
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: right;
  padding-right: 3rem;
  height: auto;
}
.questions {
  height: 44px;
  width: 120px;
  margin-bottom: 0;
  margin-top: 0;
  background-color: chocolate;
}
.questions:hover {
  color: whitesmoke;
  background-color: brown;
}
.question-body{
  padding: 0;
  margin: 0;
}
.header-questions {
  padding-bottom: 10px;
  padding-top: 10px;
  color: teal;
}
.answers {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  color: rgb(155, 98, 78);
}
.answers li {
  padding: 1rem;
  margin-top: 2rem;
}
.answers:hover {
  color: darkcyan;
}
.question-alert {
  text-align: left;
  color: rgb(107, 81, 48);
  font-family: monospace;
  font-size: 12px;
  float: left;
  padding-top: 1.8rem;
}
.question-alert:hover {
  cursor: none;
}
button:active,
button:focus {
  outline: none;
}
.clicked,
.clicked:hover {
  background-color: grey;
  color: azure;
}
input {
  outline: none;
  border: none;
}
